.leaderboard-page {
  margin-bottom: 1rem;
  margin: 0 auto;
}

.leaderboard-container {
  margin: 1rem;
}

.leaderboard-filter {
  margin-bottom: 1rem;
}

.score-card {
  transition: all ease 0.5s;
}

.score-card:hover {
  background-color: var(--mantine-color-blue-5);
}
