@import "@mantine/core/styles.css";

.body {
  background-color: var(--mantine-color-body);
}

.leaderboard-container {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--mantine-color-background);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.leaderboard-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: var(--mantine-color-text);
}
