.root {
  position: relative;
  border-radius: 10%;
  border: none;
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-7)
  );
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
}

.icon {
  position: absolute;
  transition: opacity 0.2s;
}

.light {
  opacity: 1;
}

.dark {
  opacity: 0;
}

[data-mantine-color-scheme="dark"] .light {
  opacity: 0;
}

[data-mantine-color-scheme="dark"] .dark {
  opacity: 1;
}
